/*contact stuff*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  /**box-sizing: border-box;*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: black;
}

body ul {
  list-style: none;
}

body ul a {
  text-decoration: none;
  color: black;
}

/***utilities start***/
.separador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.1875rem;
  border-bottom: 2px solid white;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.separador2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.2rem;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.semiTitle {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 1.25rem;
}

/***utilities end***/
/* Navbar section */
.header__logo {
  width: 140px;
}

.nav1 {
  width: 100%;
  /**height: 65px;**/
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100;
}

.nav1 div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 1.8125rem;
}

.nav1 div.logo a {
  text-decoration: none;
  color: black;
  font-size: 2.375rem;
}

.nav1 div.logo a:hover {
  color: #b900f6;
}

.nav1 div.main_list {
  height: 4.0625rem;
  float: right;
}

.nav1 div.main_list ul {
  width: 100%;
  height: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav1 div.main_list ul li {
  width: auto;
  height: 4.0625rem;
  padding: 0;
  padding-right: 29px;
}

.nav1 div.main_list ul li a {
  text-decoration: none;
  color: black;
  line-height: 4.0625rem;
  font-size: 1.5rem;
}

.nav1 div.main_list ul li a:hover {
  color: #12bcff;
}

/* Home section */
.navTrigger {
  display: none;
}

.nav1 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/**Media query**/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container1 {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }
  .nav1 div.logo {
    margin: auto;
  }
  .nav1 div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav1 div.show_list {
    height: auto;
    display: none;
  }
  .nav1 div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav1 div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav1 div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 31px;
    padding: 20px;
  }
  .nav1 div.media_button {
    display: block;
  }
}

/* Animation */
.navTrigger {
  cursor: pointer;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 1.5rem auto;
  position: absolute;
  right: 1.875rem;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: black;
  border-radius: 0.125rem;
  content: '';
  display: block;
  width: 100%;
  height: 0.25rem;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.activ3 i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.activ3 i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.activ3 i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #ef0c75;
}

/* .carousel-control-prev-icon {
    background-image: url("../media/leftarrow.png");
}
.carousel-control-next-icon {
    background-image: url("../media/rightarrow.png");
}
.carousel-indicators li {
    background-color: black;
} */
.carousel {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.viewport {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

.slide-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-container > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-animation-name: swipe;
          animation-name: swipe;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  /* 5 * number of slides. */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  z-index: 1;
  position: absolute;
  background-color: white;
}

@-webkit-keyframes swipe {
  0% {
    z-index: 1;
    will-change: width;
  }
  15% {
    width: 0;
    visibility: hidden;
  }
  30% {
    z-index: 0;
    width: 100%;
  }
  65.9% {
    /* (Numer of slides * 10) + 36 - 0.1. */
    z-index: 0;
    visibility: hidden;
  }
  66% {
    /* (Numer of slides * 10) + 36. */
    visibility: visible;
  }
}

@keyframes swipe {
  0% {
    z-index: 1;
    will-change: width;
  }
  15% {
    width: 0;
    visibility: hidden;
  }
  30% {
    z-index: 0;
    width: 100%;
  }
  65.9% {
    /* (Numer of slides * 10) + 36 - 0.1. */
    z-index: 0;
    visibility: hidden;
  }
  66% {
    /* (Numer of slides * 10) + 36. */
    visibility: visible;
  }
}

.slide-1 {
  background: url(../media/slider3.jpg) no-repeat center center;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slide-2 {
  background: url(../media/slider2.jpg) no-repeat center center;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slide-3 {
  background: url(../media/slider1.jpg) no-repeat center center;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.375rem;
  background-color: white;
}

.footer__legales {
  font-size: 0.875rem;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icons {
  padding-left: 1.1875rem;
}

.footer__icons img {
  width: 1.75rem;
}

/***main start***/
.body {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  min-height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body__phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5.9375rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 1.875rem;
  margin-left: 3.125rem;
  color: white;
}

.body__phrase2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.125rem;
  margin-left: 3.625rem;
  color: white;
}

.body__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.1875rem;
  margin-right: 3.5rem;
  text-align: right;
  margin-left: 3.0625rem;
  color: white;
}

@media all and (max-width: 768px) {
  .body__phrase {
    font-size: 35px;
  }
  .body__txt {
    font-size: 24px;
  }
  .body__phrase2 {
    font-size: 35px;
  }
  .body {
    min-height: 630px;
  }
}

/***main end***/
.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  width: 70%;
  margin: auto;
  color: white;
  padding-bottom: 15em;
}

.servicios__cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 20px;
}

.servicios__cajas div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  margin-top: 20px;
  border: 1px solid white;
}

.portfolio {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__title {
  font-size: 55px;
  margin-left: 54px;
  margin-top: 65px;
  margin-bottom: 65px;
}

.portfolio__container {
  font-size: 10px;
  width: 94%;
  /**max-width: 160em;**/
  margin: auto;
  margin-bottom: 165px;
}

.portfolio__container__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5em;
      grid-template-areas: "img-1 img-2 img-3 img-3" "img-4 img-4 img-3 img-3" "img-5 img-5 img-6 img-7" "img-8 img-8 img-9 img-10" "img-8 img-8 img-12 img-12" "img-11 img-11 img-12 img-12";
}

.portfolio__container__gallery div {
  width: 100%;
  height: 40em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__container__gallery div p {
  position: relative;
  z-index: 99;
  padding: 1em 3em;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  color: white;
}

.portfolio__container__gallery div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.portfolio__container__gallery__title {
  font-size: 18px;
}

.portfolio__container__gallery__txt {
  font-size: 14px;
}

.portcontainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__container__gallery div:hover p,
.portfolio__container__gallery div:hover::before {
  opacity: 1;
}

.img-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-1;
  background-image: url(../media/img1.jpg);
  cursor: pointer;
}

.img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-2;
  background-image: url(../media/img2.jpg);
  cursor: pointer;
}

.img-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-3;
  min-height: 81.5em;
  background-image: url(../media/img3.jpg);
  cursor: pointer;
}

.img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-4;
  background-image: url(../media/img4.jpg);
  cursor: pointer;
}

.img-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-5;
  background-image: url(../media/img5.jpg);
  cursor: pointer;
}

.img-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img-6;
  background-image: url(../media/img6.jpg);
  cursor: pointer;
}

.img-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: img-7;
  background-image: url(../media/img7.jpg);
  cursor: pointer;
}

.img-8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-8;
  min-height: 81.5em;
  background-image: url(../media/img8.jpg);
  cursor: pointer;
}

.img-9 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: img-9;
  background-image: url(../media/img9.jpg);
  cursor: pointer;
}

.img-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: img-10;
  background-image: url(../media/img10.jpg);
  cursor: pointer;
}

.img-11 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-11;
  background-image: url(../media/img11.jpg);
  cursor: pointer;
}

.img-12 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-12;
  min-height: 81.5em;
  background-image: url(../media/img12.jpg);
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .portfolio__title {
    font-size: 45px;
  }
  .portfolio__container__gallery {
        grid-template-areas: "img-1 img-2 img-3 img-3" "img-4 img-4 img-3 img-3" "img-5 img-5 img-6 img-7" "img-8 img-8 img-9 img-10" "img-8 img-8 img-12 img-12" "img-11 img-11 img-12 img-12";
  }
  .portfolio__container__gallery div {
    height: 20em;
  }
  .img-3 {
    min-height: 41.5em;
  }
  .img-12 {
    min-height: 41.5em;
  }
  .img-8 {
    min-height: 41.5em;
  }
}

@media all and (max-width: 576px) {
  .portfolio__container__gallery {
        grid-template-areas: "img-1 img-1 img-1 img-1" "img-2 img-2 img-2 img-2" "img-3 img-3 img-3 img-3" "img-4 img-4 img-4 img-4" "img-5 img-5 img-5 img-5" "img-6 img-6 img-6 img-6" "img-7 img-7 img-7 img-7" "img-8 img-8 img-8 img-8" "img-9 img-9 img-9 img-9" "img-10 img-10 img-10 img-10" "img-11 img-11 img-11 img-11" "img-12 img-12 img-12 img-12";
  }
  .portfolio__container__gallery div,
  .img-1,
  .img-6 {
    min-height: 25em;
    height: 25em;
  }
}

.clients {
  font-family: "Lato", sans-serif;
  margin: 270px 3.12rem;
}

.clients__title {
  color: white;
  font-size: 43px;
  margin-bottom: 55px;
}

.clients__box {
  color: white;
  width: 45%;
  margin: auto;
  font-size: 24px;
}

.clients__txt {
  margin-bottom: 45px;
}

.clients__brands {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: auto;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}

.clients__brands img {
  max-width: 163px;
}

@media all and (max-width: 768px) {
  .clients {
    margin: 100px 3.12rem;
  }
  .clients__title {
    font-size: 33px;
  }
  .clients__box {
    width: auto;
    font-size: 19px;
  }
}

/***Intro contact start***/
.IntroC {
  background-color: white;
  padding: 270px 3.12rem;
}

.IntroC__blck {
  width: 40%;
  margin: auto;
  text-align: center;
}

.IntroC__title {
  font-size: 33px;
}

/***Intro contact end***/
/***contact start***/
.font-weights-light {
  font-weight: 300;
}

.font-weights-medium {
  font-weight: 500;
}

.font-weights-bold {
  font-weight: 700;
}

.contact {
  background-color: #33ca9f;
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  color: white;
  margin-top: 4.0625rem;
  font-size: 2.5rem;
}

.contact__txt {
  color: white;
  width: 30%;
  margin: 1.5625rem auto 5.9375rem auto;
  font-size: 1.875rem;
}

.formu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formu__block div {
  width: 17%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 22.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.0625rem;
}

.formu__block iframe {
  width: 100%;
  overflow: hidden;
}

.formu__subtitle {
  color: white;
  font-size: 1.3125rem;
}

/***contact end***/
/*@import "mediaquerys";*/
