/*contact stuff*/
/* $Fweight2 is for weights for my second font Lato*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.Fweight2-thin {
  font-weight: 100;
}

.Fweight2-light {
  font-weight: 300;
}

.Fweight2-medium {
  font-weight: 400;
}

.Fweight2-bold {
  font-weight: 700;
}

.Fweight2-black {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  /**box-sizing: border-box;*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  /* background-color: black; */
}

body ul {
  list-style: none;
}

body ul a {
  text-decoration: none;
  color: black;
}

/***utilities start***/
.separador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.1875rem;
  border-bottom: 2px solid white;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.separador2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.2rem;
  width: 94%;
  margin: auto;
  background-color: black;
}

#button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fde101;
  color: Black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#button:hover {
  background-color: #555;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.semiTitle {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  padding: 1.25rem;
}

/***utilities end***/
.navbar {
  width: 100%;
  height: 73px;
  position: fixed;
  line-height: 74px;
  text-align: center;
  z-index: 100;
  padding-top: 0.8125rem;
  padding-bottom: 1.25rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar__aviel {
  width: 131px;
}

.navbar div.navbar__logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 1.8125rem;
}

.navbar div.navbar__logo a {
  text-decoration: none;
  color: black;
  font-size: 2.375rem;
}

.navbar div.navbar__logo a:hover {
  color: #b900f6;
}

.navbar div.navbar__list {
  height: 4.0625rem;
  float: right;
}

.navbar div.navbar__list ul {
  width: 100%;
  height: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar div.navbar__list ul li {
  width: auto;
  height: 4.0625rem;
  padding: 0;
  padding-right: 29px;
}

.navbar div.navbar__list ul li a {
  text-decoration: none;
  color: black;
  line-height: 4.0625rem;
  font-size: 1.5rem;
}

.navbar div.navbar__list ul li a:hover {
  color: #fc48ac;
}

.navTrigger {
  display: none;
}

/**Media query stuff**/
@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }
  .navbar div.navbar__logo {
    margin: auto;
    padding-top: 11px;
    padding-left: 18px;
  }
  .navbar div.navbar__logo a {
    font-size: 16px;
  }
  .navbar div.navbar__list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .navbar div.navbar__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    background-position: center top;
  }
  .navbar div.navbar__list ul li {
    width: 100%;
    text-align: right;
  }
  .navbar div.navbar__list ul li a {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 31px;
    padding: 20px;
  }
  .navbar div.navbar__list ul li a:hover {
    color: #fde101;
  }
  .navbar div.show_list {
    height: auto;
    display: none;
  }
  .navbar div.media_button {
    display: block;
  }
}

/* Animation */
.navTrigger {
  cursor: pointer;
  width: 1.875rem;
  height: 1.5625rem;
  margin: 1.5rem auto;
  position: absolute;
  right: 1.875rem;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: black;
  border-radius: 0.125rem;
  content: '';
  display: block;
  width: 100%;
  height: 0.25rem;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.activ3 i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.activ3 i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.activ3 i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

.navbar__animation {
  padding: 0;
  background-color: #fde101;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

.carousel {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.viewport {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

.slide-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-container > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-animation-name: swipe;
          animation-name: swipe;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  /* 5 * number of slides. */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  z-index: 1;
  position: absolute;
  background-color: white;
}

@-webkit-keyframes swipe {
  0% {
    z-index: 1;
    will-change: width;
  }
  15% {
    width: 0;
    visibility: hidden;
  }
  30% {
    z-index: 0;
    width: 100%;
  }
  75.9% {
    /* (Numer of slides * 10) + 36 - 0.1. */
    z-index: 0;
    visibility: hidden;
  }
  /* 65.9% { /* (Numer of slides * 10) + 36 - 0.1. */
  /* z-index: 0;
    visibility: hidden;
} */
  /* 66% { /* (Numer of slides * 10) + 36. */
  /* visibility: visible;
} */
  76% {
    /* (Numer of slides * 10) + 36. */
    visibility: visible;
  }
}

@keyframes swipe {
  0% {
    z-index: 1;
    will-change: width;
  }
  15% {
    width: 0;
    visibility: hidden;
  }
  30% {
    z-index: 0;
    width: 100%;
  }
  75.9% {
    /* (Numer of slides * 10) + 36 - 0.1. */
    z-index: 0;
    visibility: hidden;
  }
  /* 65.9% { /* (Numer of slides * 10) + 36 - 0.1. */
  /* z-index: 0;
    visibility: hidden;
} */
  /* 66% { /* (Numer of slides * 10) + 36. */
  /* visibility: visible;
} */
  76% {
    /* (Numer of slides * 10) + 36. */
    visibility: visible;
  }
}

.slide-1 {
  background: url(../media/slide1.jpg) no-repeat center center;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slide-2 {
  background: url(../media/slide2.jpg) no-repeat center center;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slide-3 {
  background: url(../media/slide3.jpg) no-repeat center center;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slide-4 {
  background: url(../media/slide4.jpg) no-repeat center center;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@media all and (max-width: 768px) {
  .slide-1 {
    background: url(../media/mobile_slider/1-768px.jpg) no-repeat center center;
  }
  .slide-2 {
    background: url(../media/mobile_slider/2-768px.jpg) no-repeat center center;
  }
  .slide-3 {
    background: url(../media/mobile_slider/3-768px.jpg) no-repeat center center;
  }
  .slide-4 {
    background: url(../media/mobile_slider/4-768px.jpg) no-repeat center center;
  }
}

@media all and (max-width: 380px) {
  .slide-1 {
    background: url(../media/mobile_slider/1-380px.jpg) no-repeat center center;
  }
  .slide-3 {
    background: url(../media/mobile_slider/3-380px.jpg) no-repeat center center;
  }
  .slide-4 {
    background: url(../media/mobile_slider/4-380px.jpg) no-repeat center center;
  }
}

.agency {
  color: white;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  /* min-height: 1140px; */
  /* &__logo{
        display: flex;
        height: 600px;
        width: auto;
        margin: 170px 0px 0px 0px;
    } */
}

.agency__blck-txt {
  width: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.agency__blck-txt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.agency__blck-txt div div {
  width: 100%;
}

.agency__phrase {
  font-size: 110px;
  color: #fde101;
  padding-top: 160px;
  padding-bottom: 160px;
}

.agency__txt {
  font-size: 22px;
}

.agency__phrase2 {
  font-family: "Lato", sans-serif;
  font-size: 110px;
  color: #fde101;
  padding-top: 359px;
  padding-bottom: 180px;
  width: 92%;
  margin: auto;
  text-align: center;
}

.agency__logo {
  width: 49%;
  max-width: 650px;
  margin-top: 130px;
}

@media all and (max-width: 1200px) {
  .agency {
    color: white;
    /* &__blck-txt {
            div{
                width: 45%;
            }
        } */
    /* &__logo{
            height: 400px;
            margin: 100px 0px 0px 0px;
        } */
  }
  .agency__phrase {
    font-size: 90px;
  }
  .agency__txt {
    font-size: 17px;
    padding-top: 40px;
    padding-bottom: 160px;
  }
  .agency__phrase2 {
    font-size: 90px;
    padding-top: 0px;
    padding-bottom: 90px;
    padding-top: -179px;
  }
}

@media all and (max-width: 768px) {
  .agency {
    /* &__logo{
            margin: 70px auto 70px auto;
            height: 300px;
        } */
  }
  .agency__blck-txt div {
    width: 80%;
    margin: auto;
  }
  .agency__logo {
    margin: auto;
  }
  .agency__txt {
    padding-top: 20px;
    padding-bottom: 90px;
  }
  .agency__phrase {
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 60px;
  }
  .agency__phrase2 {
    font-size: 60px;
    padding-top: 90px;
    text-align: center;
    width: 88%;
    margin: auto;
  }
}

/* @media all and (max-width: 380px){
    .agency__logo {
        margin: 0px auto;
        width: 81%;
        height: 250px;
    }
}
/***main end***/
.services {
  font-family: "Lato", sans-serif;
  width: 80%;
  margin: auto;
  margin-top: 135px;
}

.services__title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 95px;
}

.services__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__boxes div {
  width: 22%;
  padding: 10px 55px 85px 55px;
}

.services__icons {
  width: 95px;
  fill: white;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

.services__icons:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.services__txt-title {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.services__txt-desc {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .services__boxes div {
    width: 30%;
  }
}

@media all and (max-width: 768px) {
  .services {
    width: 100%;
  }
  .services__boxes div {
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .services__boxes div {
    width: 100%;
  }
}

.portfolio__gallery div:hover p,
.portfolio__gallery div:hover::before {
  opacity: .9;
}

.portfolio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  width: 100%;
  /**max-width: 160em;**/
  margin: auto;
  padding: 0 4.5em;
  margin-bottom: 165px;
}

.portfolio__title {
  font-size: 55px;
  margin: 65px 0px 65px 54px;
}

.portfolio__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5em;
      grid-template-areas: "img-1 img-2 img-3 img-3" "img-4 img-4 img-3 img-3" "img-5 img-5 img-6 img-7" "img-8 img-8 img-9 img-10" "img-8 img-8 img-12 img-12" "img-11 img-11 img-12 img-12";
}

.portfolio__gallery div {
  width: 100%;
  height: 40em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  justify-content: flex-end;
}

.portfolio__gallery div p {
  position: relative;
  z-index: 99;
  padding: 1em 0px 1em 0px;
  /*Important*/
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  color: white;
}

.portfolio__gallery div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__work-title {
  font-size: 19px;
  margin-bottom: -20px;
  text-align: center;
}

.portfolio__work-desc {
  font-size: 16px;
  margin-bottom: 11px;
  text-align: center;
}

.img-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-1;
  background-image: url(../media/img1.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img-2;
  background-image: url(../media/img2.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-3;
  min-height: 81.5em;
  background-image: url(../media/img3.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-4;
  background-image: url(../media/img4.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-5;
  background-image: url(../media/img5.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img-6;
  background-image: url(../media/img6.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: img-7;
  background-image: url(../media/img7.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-8;
  min-height: 81.5em;
  background-image: url(../media/img8.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-9 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: img-9;
  background-image: url(../media/img9.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: img-10;
  background-image: url(../media/img10.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-11 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-11;
  background-image: url(../media/img11.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-12 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img-12;
  min-height: 81.5em;
  background-image: url(../media/img12.jpg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 768px) {
  .portfolio__title {
    font-size: 45px;
  }
  .portfolio__gallery {
        grid-template-areas: "img-1 img-2 img-3 img-3" "img-4 img-4 img-3 img-3" "img-5 img-5 img-6 img-7" "img-8 img-8 img-9 img-10" "img-8 img-8 img-12 img-12" "img-11 img-11 img-12 img-12";
  }
  .portfolio__gallery div {
    height: 20em;
  }
  .img-3 {
    min-height: 41.5em;
  }
  .img-12 {
    min-height: 41.5em;
  }
  .img-8 {
    min-height: 41.5em;
  }
}

@media all and (max-width: 576px) {
  .portfolio__gallery {
        grid-template-areas: "img-1 img-1 img-1 img-1" "img-2 img-2 img-2 img-2" "img-3 img-3 img-3 img-3" "img-4 img-4 img-4 img-4" "img-5 img-5 img-5 img-5" "img-6 img-6 img-6 img-6" "img-7 img-7 img-7 img-7" "img-8 img-8 img-8 img-8" "img-9 img-9 img-9 img-9" "img-10 img-10 img-10 img-10" "img-11 img-11 img-11 img-11" "img-12 img-12 img-12 img-12";
  }
  .portfolio__gallery div,
  .img-1,
  .img-6 {
    min-height: 25em;
    height: 25em;
  }
}

.introc {
  background-color: white;
  padding: 240px 50px;
}

.introc__blck {
  width: 40%;
  margin: auto;
  text-align: center;
}

.introc__title {
  font-size: 33px;
  padding-bottom: 50px;
}

.introc__parag {
  padding-bottom: 30px;
}

.introc__button {
  padding: 12px;
  background-color: black;
  color: white;
  border-radius: 35px;
  cursor: pointer;
}

@media all and (max-width: 1200px) {
  .introc__blck {
    width: 70%;
  }
}

@media all and (max-width: 768px) {
  .introc {
    padding: 100px 24px;
  }
  .introc__blck {
    width: 95%;
  }
  .introc__title {
    font-size: 26px;
  }
}

.clients {
  font-family: "Lato", sans-serif;
  padding: 270px 3.12rem;
  background-color: black;
}

.clients__title {
  color: white;
  font-size: 43px;
  margin-bottom: 55px;
}

.clients__box {
  color: white;
  width: 45%;
  margin: auto;
  font-size: 24px;
}

.clients__txt {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-bottom: 45px;
}

.clients__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__brands img {
  max-width: 163px;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.clients__brands img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media all and (max-width: 1200px) {
  .clients__box {
    width: 85%;
  }
}

@media all and (max-width: 768px) {
  .clients {
    padding: 100px 3.12rem;
  }
  .clients__title {
    font-size: 33px;
  }
  .clients__box {
    width: auto;
    font-size: 19px;
  }
}

@media all and (max-width: 576px) {
  .clients {
    padding: 100px 20px;
    text-align: center;
  }
  .clients__txt {
    width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  .clients__brands {
    width: 95%;
  }
  .clients__brands img {
    max-width: 129px;
  }
}

/***contact start***/
.contact {
  background-color: #fde101;
  color: black;
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  margin-top: 125px;
  font-size: 2.5rem;
}

.contact__txt {
  width: 30%;
  margin: 1.5625rem auto 5.9375rem auto;
  font-size: 1.875rem;
}

.formu {
  color: black;
}

.formu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formu__block div {
  width: 17%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 22.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4.0625rem;
}

.formu__block iframe {
  width: 100%;
  overflow: hidden;
}

.formu__subtitle {
  font-size: 1.3125rem;
}

/***contact end***/
@media all and (max-width: 1200px) {
  .contact__txt {
    width: 60%;
  }
  .formu__block div {
    width: 37%;
  }
}

@media all and (max-width: 768px) {
  .formu__block div {
    width: 67%;
  }
}

.footer {
  z-index: 100;
  position: relative;
  background-color: black;
}

.footer__legales {
  font-size: 0.875rem;
  font-weight: lighter;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__legales:hover {
  color: #fde101;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4.375rem;
}

.footer__icons img {
  width: 1.75rem;
  -webkit-filter: invert(97%) sepia(94%) saturate(30%) hue-rotate(70deg) brightness(106%) contrast(100%);
          filter: invert(97%) sepia(94%) saturate(30%) hue-rotate(70deg) brightness(106%) contrast(100%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

.footer__icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: invert(76%) sepia(65%) saturate(671%) hue-rotate(2deg) brightness(107%) contrast(99%);
          filter: invert(76%) sepia(65%) saturate(671%) hue-rotate(2deg) brightness(107%) contrast(99%);
}

@media all and (max-width: 768px) {
  .footer__container {
    width: 95%;
    margin: auto;
  }
}

/*@import "mediaquerys";*/
