.agency{
    color: white;
    background-color: black;
    font-family: $Font3;
    overflow: hidden;
    /* min-height: 1140px; */    
    &__blck-txt{
        width: 89%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            width: 50%;
            div{
                width: 100%;
            }
        }
    }
    &__phrase{
        font-size: 110px;
        color: #fde101;
        padding-top: 160px;
    }
    &__txt{
        font-size: 22px;
        padding-top: 200px;
    }
    &__phrase2{
        font-family: $Font2;
        font-size: 110px;
        color: #fde101;
        padding-top: 359px;
        padding-bottom: 180px;
        width: 92%;
        margin: auto;
        text-align: center;
    }
    &__logo{
        display: flex;
        height: 600px;
        width: auto;
        margin: 170px 0px 0px 0px;
    }

}
@media all and (max-width: 1200px){
    .agency{
        color: white;        
        &__blck-txt {
            div{
                width: 45%;
            }
        }
        &__phrase{
            font-size: 60px;
        }
        &__txt{
            font-size: 17px;
            padding-top: 40px;
        }
        &__logo{
            height: 400px;
            margin: 100px 0px 0px 0px;
        }
        &__phrase2{
            font-size: 60px;
            padding-top: 0px;
            padding-bottom: 90px;
            padding-top: -179px;
        }
    }
}



@media all and (max-width: 768px){
    .agency{
        &__blck-txt{
            div{
                width: 80%;
                margin: auto;
            }
        }
        &__logo{
            margin: 70px auto 70px auto;
            height: 300px;
        }
        &__txt{
            padding-top: 20px;
        }
        &__phrase2{
            text-align: center;
        }
    }
}
/***main end***/