.clients{
    font-family: $Font2;
    padding: 270px 3.12rem;
    background-color: black;
    &__title{
        color: $FontClients;
        font-size: 43px;
        margin-bottom: 55px;
    }
    &__box{
        color: $FontClients;
        width: 45%;
        margin: auto;
        font-size: 24px;
    }
    &__txt{
        margin-bottom: 45px;
    }
    &__brands{
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        align-items: first baseline;
        img{
            max-width: 163px;
        }
    }

}
@media all and (max-width: 1200px){
    .clients{
        &__box{
            width: 85%;
        }
    }
}
@media all and (max-width: 768px){
    .clients{
        padding: 100px 3.12rem;
        &__title{
            font-size: 33px;
        }
        &__box{
            width: auto;
            font-size: 19px; 
        }
    }    
}

@media all and (max-width: 576px){
    .clients{
        padding: 100px 20px;
        text-align: center; 
        &__txt{
            width: 90%;
            margin: auto;
            margin-bottom: 45px;
        }
        &__brands{
            width: 95%;
            img{
                max-width: 129px;
            }
        }
    }
}