/***Intro contact start***/
.IntroC{
    background-color: white;
    padding: 270px 3.12rem;
    &__blck{
        width: 40%;
        margin: auto;
        text-align: center;
    }
    &__title{
        font-size: 33px;
    }
}
/***Intro contact end***/
/***contact start***/
@mixin display{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
@mixin color{
    color: white;
}
@each $w, $n in $Fweight2{
    .Fweight2-#{$w}{
        font-weight: $n;
    }
}
.contact{
    background-color: #33ca9f;
    &__block{
        @include display;
        align-items: center;
    }
    &__title{
        @include color;
        margin-top: 4.0625rem;
        font-size: 2.5rem;        
    }
    &__txt{
        @include color;
        width: 30%;
        margin: 1.5625rem auto 5.9375rem auto;
        font-size: 1.875rem;
    }
}
.formu{
    &__block{
        @include display;
        align-items: center;
        div{
            width: 17%;
            text-align: center;
            @include display;
            height: 22.5rem;
            justify-content: space-between;
            margin-bottom: 4.0625rem;
        }
        iframe{
            width: 100%;
	        overflow: hidden;
        }
    }
	&__subtitle{
        @include color;
        font-size: 1.3125rem;
    }
}
/***contact end***/