/***contact start***/
.map{
    filter:grayscale(100%);
    width: 100%; 
    margin-bottom: -3px;   
}
.tempiframe{
    height: 450px;
    width: 100%;
    background-color: #c8c8c8;
}

.contact{
    background-color: #171717;    
    color: white;
    &__container{
        width: 55%;
        margin: auto;        
        padding-bottom: 120px;
    }
    &__phrase{
        padding-top: 220px;
        padding-bottom: 130px;
        font-size: 96px;
        font-family: $Font2;
        width: 80%;
        margin: auto;
    }
    &__block{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    &__column1{
        display: flex;
        flex-direction: column;
        div{
            margin-bottom: 70px;
        }
    }    
    &__semititle{
        font-size: 25px;
        font-weight: bold;/**CHANGE**/
        margin-bottom: 12px;
    }
    &__txt{
        font-size: 20px;
    }
    &__title{
        font-size: 24px;
        max-width: 340px;
        margin-bottom: 10px;        
    }
}



.form{
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
    min-width: 250px;
    &__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
      
        &::placeholder {
          color: transparent;
        }
      
        &:placeholder-shown ~ .form__label {
          font-size: 1.3rem;
          cursor: text;
          top: 20px;
        }
        &:focus {
            ~ .form__label {
              position: absolute;
              top: 0;
              display: block;
              transition: 0.2s;
              font-size: 1rem;
              color: #fde101;
              font-weight:700;    
            }
            padding-bottom: 6px;  
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, #fde101,#fde101);
            border-image-slice: 1;
        }
        &:required,&:invalid { 
            box-shadow:none; 
        }
    }
    &__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: white;
    }
}


.modal-window {
    font-family: $Font2;
    color: black;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.77);;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    & > div {
    border-radius: 1rem;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #fde101;
    }    
    p {
    font-weight: 700;
    font-size: 150%;
    margin: 0 0 15px;
    }
}
  
.modal-close {
    color: black;
    line-height: 50px;
    font-size: 22px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 46px;
    text-decoration: none;
    &:hover {
        color: #fc48ac;
    }
}


/***contact end***/

@media all and (max-width: 1200px){
    .contact{
        &__container{
            width: 75%;
        }
    }
}

@media all and (max-width: 768px){   
    .contact{
        &__container{
            width: 90%;
        }
        &__phrase{
            font-size: 66px;
        }
    } 
    .modal-window{
        & > div{
            width: 60%;
        }
    }
}

@media all and (max-width: 576px){
    .contact{
        &__phrase{
            font-size: 66px;
        }
        &__semititle{
            text-align: center;
        }
    } 
}
@media all and (max-width: 415px){
    .contact{
        &__column2{
            width: 80%;
            a{
                display: flex;
                justify-content: flex-end;
            }
        }

    }
    .button--anthe {
        margin-left: 0;
    }
}