*{
	margin: 0;
	padding: 0;
    /**box-sizing: border-box;*/
}
h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
  }
body{
    font-family: $MainFont;
	font-size: 16px;
    background-color: black;
    ul{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
        }
    }
}
