.carousel-control-prev-icon {
    background-image: url("../media/leftarrow.png");
}
.carousel-control-next-icon {
    background-image: url("../media/rightarrow.png");
}
.carousel-indicators li {
    background-color: black;
}