.carousel {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.viewport {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

.slide-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide-container > div {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: swipe;
    animation-duration: 20s; /* 5 * number of slides. */
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    z-index: 1;
    position: absolute;
    background-color: white;
}
@keyframes 
swipe {  0% {
    z-index: 1;
    will-change: width;
}
15% {
    width: 0;
    visibility: hidden;
}
30% {
    z-index: 0;
    width: 100%;
}
75.9% { /* (Numer of slides * 10) + 36 - 0.1. */
    z-index: 0;
    visibility: hidden;
}
/* 65.9% { /* (Numer of slides * 10) + 36 - 0.1. */
    /* z-index: 0;
    visibility: hidden;
} */
/* 66% { /* (Numer of slides * 10) + 36. */
    /* visibility: visible;
} */ 
76% { /* (Numer of slides * 10) + 36. */
    visibility: visible;
}
}

.slide-1 {
    background: url(../media/slide1.jpg) no-repeat center center;
    animation-delay: 5s;
}

.slide-2 {
    background: url(../media/slide2.jpg) no-repeat center center;
    animation-delay: 10s;
}

.slide-3 {
    background: url(../media/slide3.jpg) no-repeat center center;
    animation-delay: 15s;
}
.slide-4 {
    background: url(../media/slide4.jpg) no-repeat center center;
    animation-delay: 20s;
}

@media all and (max-width: 768px){
    .slide-1{
        background: url(../media/mobile_slider/1-768px.jpg) no-repeat center center;
    }
    .slide-2{
        background: url(../media/mobile_slider/2-768px.jpg) no-repeat center center;
    }
    .slide-3{
        background: url(../media/mobile_slider/3-768px.jpg) no-repeat center center;
    }
    .slide-4{
        background: url(../media/mobile_slider/4-768px.jpg) no-repeat center center;
    }
}

@media all and (max-width: 380px){
    .slide-1{
        background: url(../media/mobile_slider/1-380px.jpg) no-repeat center center;
    }
    .slide-3{
        background: url(../media/mobile_slider/3-380px.jpg) no-repeat center center;
    }
    .slide-4{
        background: url(../media/mobile_slider/4-380px.jpg) no-repeat center center;
    }
}