.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
	background: #fde101;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
	i {
		color: black;
		margin: 0;
		position: relative;
		left: 16px;
		top: 15px;
		font-size: 20px;  
		transition: all 0.3s ease;
	}
	&:hover {
		background: rgba(0, 0, 0, 0.9);
		border: .1px white solid;
		i {
			color: #fde101;
			top: 5px;
		}
	}
}

@media all and (max-width: 768px){
	.return-to-top{
		width: 40px;
		height: 40px;
		bottom: 13px;
		right: 10px;
		i{
			left: 11px;
			top: 10px;
			font-size: 19px;			
		}
		&:hover{
			i{
				top: 0px;
			}			
		}
	}
	
}

.button--anthe {
	color: #fff;
	background: none;
	cursor: pointer;
    font-family: $Font2;
    font-size: 20px;
    border: none;
	padding: 16px 48px;
	position: relative;
	background: none;
    color: #fff;
	margin-top: 25px;
	margin-left: 194px;
	&::before, &::after{
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
    }
	&::before {
		content: '';
		background: #000;
		-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
		clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
		transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
	}
	&:hover{
		span {
			transform: translate3d(-10px,0,0);
			color: black;
		}
		&::before {
			background: #fde101;
			-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
			clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		}
	}
	span {
		display: block;
		mix-blend-mode: hard-light;
		transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
	}
}

.button--narvi {
    cursor: pointer;
    font-family: $Font2;
    font-size: 26px;
    border: none;
	padding: 24px 48px;
	position: relative;
	background: none;
    color: #fff;
    /* color: white; */
    font-weight: bold;
    &::before, &::after{
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &::before{
        content: '';
        background: #000;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 80% 70%, 75% 70%, 0 70%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 80% 70%, 75% 70%, 0 70%);
        transition: clip-path 0.3s cubic-bezier(0.7, 0, 0.2, 1), -webkit-clip-path 0.3s cubic-bezier(0.7, 0, 0.2, 1), transform 0.3s ease;
        border-radius: 6px;
    }
    &:hover{
        > span{
            transform: translate3d(0,-1.111rem,0);
            color: black;
            > span{
                animation: MoveUpInitial 0.15s forwards, MoveUpEnd 0.15s forwards 0.15s;
            }
        }
        &::before {
            transform: translate3d(0,-10px,0);
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 86% 100%, 75% 70%, 0 70%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 85% 70%, 86% 100%, 75% 70%, 0 70%);
            background: #fde101;
        }
    }
    span {
        display: block;
        position: relative;
    }
    > span{
        transition: transform 0.3s;
        transform: translate3d(0,-0.556rem,0);
        z-index: 1;
        overflow: hidden;
    }
}