/***utilities start***/
.separador{
	display: flex;
	height: 2.1875rem;
	border-bottom: 2px solid white;
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}
.separador2 {
    display: flex;
    height: 0.2rem;
    width: 94%;
    margin: auto;
	background-color: black;
}
#button {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #fde101;
	color: Black;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
#button:hover {
	background-color: #555;
}
@media all and (max-width: 768px){
	#button{
		bottom: 14px;
		right: 14px;
		padding: 10px;
	}
	
}
.bold{
	font-weight: bold;
}
.center{
	text-align: center;
}
.title{
	font-size: 2.5rem;
}
.semiTitle{
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	padding: 1.25rem;
}
/***utilities end***/