$MainFont: "Quicksand", sans-serif;
$SecondFont: 'Lato', sans-serif;
$FontColor1: white;
$FontClients: white;

/*contact stuff*/
$font-weights:(
    "light": 300,
    "medium": 500,
    "bold": 700
);