@import "variables";
@import "reset";
@import "fonts";
@import "utilities";
@import "navbar";
@import "slider";
@import "onepage";
@import "services";
@import "portfolio";
@import "clients";
@import "contact";
/*@import "mediaquerys";*/